.boxes{
    height: 192px;


}
.boxes-left{
    border: 2px solid rgb(130 130 130 / 20%);
    border-radius: 7px;
    padding: 3% 3% 0% 3%;

}
.boxes-right{
   
    border: 2px solid rgb(130 130 130 / 20%);
    margin-left: 10px;
    border-radius: 7px;
    padding: 3% 3% 0% 3%;
background-color: #0081A7;
color: white;
position: relative;
}


.rent-box-car{
    position: absolute;
  right: -60px;
    width: 380px;
    height: 150px;
}
@media only screen and (max-width: 950px) {   
    .boxes-right{
   
   
        margin-top: 30px;
        
    }

    .rent-box-car{
        position: absolute;
      right: -30px;
        width: 250px;
        height: 150px;
    }

}